@charset "utf-8";

$break0:   0px !default;
$break1:   321px !default;
$break2:   601px !default;
$break3:   1009px !default;
$break4:   1281px !default;

// custom --media query-- bootstrap content

@include media-query-min($break3) {
    .tap-to-call {
        display: none;
    }
}

@include media-query-min($break4) {
    .custom-jumbotron {
        padding: 9% 0% 10% 0%;
    }
    .custom-jumbotron-header {
        font-size: 4.0rem;
    }
}