---
layout: default
---

<div class="jumbotron jumbotron-fluid text-center custom-jumbotron">
  <div class="container">
    <h1 class="display-4 custom-jumbotron-header">Buy Containers</h1>
    <h2 class="display-6">for home or business</h2>
    <button type="button" class="btn-lg btn-primary custom-jumbotron-button">See container sizes</button>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row justify-content-center">
    <div class="col-sm">
      <h2>We have...</h2>
      <h4>Containers for small projects..</h4>
      <img src="/demo2/assets/img/size-chart.png" class="img-fluid" alt="Responsive image">
      <button type="button" class="btn-block btn-outline-primary custom-container-size-button">See our containers</button>
    </div>
    <div class="col-sm">
      <h2>We have...</h2>
      <h4>Containers for small projects..</h4>
      <img src="/demo2/assets/img/size-chart.png" class="img-fluid" alt="Responsive image">
      <button type="button" class="btn-block btn-outline-primary custom-container-size-button">See our containers</button>
    </div>
    <div class="col-sm">
      <h2>We have...</h2>
      <h4>Containers for small projects..</h4>
      <img src="/demo2/assets/img/size-chart.png" class="img-fluid" alt="Responsive image">
      <button type="button" class="btn-block btn-outline-primary custom-container-size-button">See our containers</button>
    </div>
  </div>
</div>

<div class="container-fluid text-center">
  <div class="row align-items-center">
    <div class="col-sm-4 custom-dashed-box">
      <a href="tel:1-912-432-0772">
      <i class="fa fa-phone custom-contact-phone" aria-hidden="true"></i>
      </a>
      <h4 class="tap-to-call">tap here to call</h4>
    </div>
    <div class="col-sm-8 custom-bottom-phone-number">
      <h1 class="display-5"><u>Give us a call</u> - (912) 432-0772</h1>
    </div>
  </div>
</div>