<!DOCTYPE html>
<html lang="en">
  
{% include newhead.html %}

<body>
  
  {% include rectangle-logo-header.html %}

  <div class="block-xs-middle pb-5 custom-jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="display-5 custom-jumbotron-h1">Content Marketing with Consistently Repeatable Results</h1>
          <p class="lead mb-4 text-muted">Stop installing bloated scripts that all track the exact same things. Install one that does everything.</p>
          <button class="btn-lg btn-primary mb-3">Work with us</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-block-marketing-grid custom-three-icon-section">
  <div class="container text-xs-center">

    <div class="row mb-5">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-10 offset-lg-1">
        <img class="mb-1" src="assets/img/Small-Icon.jpg">
        <hr>
        <h3  class="mb-1 custom-top-text">We are an agency made up of the absolute rock stars in content marketing, 
            responsive web design, startup user acquisition & B2B lead generation. 
            Our founders and staff have decades of experience building gorgeous, 
            high performing websites and generating results for brands.</h3>
        <hr>
      </div>
    </div>

    <div class="row app-marketing-grid">
      <div class="col-md-6 px-4 mb-5">
        <img class="mb-1" src="assets/img/icon-1.png">
        <h2 class="custom-icon-section-title custom-mariposa-highlight">Content <i>Marketing</i></h2>
        <p class="custom-icon-section-text">Lots of people can do content marketing - but very few can approach it from a position of creativity and experience. 
        
        <br><br>
        The leadership of Mariposa has been marketing through content since the beginning of the indexed web.</p>
      </div>
      <div class="col-md-6 px-4 mb-5">
        <img class="mb-1" src="assets/img/icon-2.png">
        <h2 class="custom-icon-section-title custom-mariposa-highlight">Responsive <i>Web Design</i></h2>
        <p class="custom-icon-section-text">A website doesn't have to be drab to earn a spot at the top of the search engine pages. 
            <br><br>
            Our customers enjoy responsive websites that are both beautiful and SEO friendly. 
            Designing with display in mind is vital - both Google and your customers love responsive web design.</p>
      </div>
    </div>
  </div>
</div>

<div class="block block-secondary app-block-marketing-grid custom-three-icon-CTA-section">
  <div class="container text-xs-center">

    <div class="row mb-5">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-12 offset-lg-0">
        <div class="callout">
            <div class="callout-content custom-callout-content">
                <h2><strong>Explore this thing.</strong> Learn more about this thing.</h2>
            </div>

            <div class="callout-secondary custom-callout-cta">
                <button class="btn-lg btn-primary mb-1">Get started</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block block-inverse app-high-praise custom-home-bottom-background"
     style="background-image: url(assets/img/optimize-website.jpg);">
    <div class="container">
      <div class="row app-align-center py-3">
        <div class="col-sm-5 push-sm-7 py-5">
          <h6 class="text-muted text-uppercase mb-2">Already got a website?</h6>
          <h3 class="mb-4">We'll assess it for free and give you some pointers on how to get your brand off the starting line!</h3>
          <button class="btn-lg btn-primary mb-3">Get a FREE Lead Gen Optimization</button>
        </div>
      </div>
  </div>
</div>

<div class="block app-ribbon py-5 custom-client-logo-section">
  <div class="container text-xs-center col-md-12">
    <img src="assets/img/Aptus_Logo.png">
    <img src="assets/img/CentralFenceLogo.png">
    <img src="assets/img/custom-flooring-logo.png">
    <img src="assets/img/Custom-Waste-Logo-lite.png">
    <img src="assets/img/refinished-treasures-claxton-logo.png">
    <img src="assets/img/nesmith-logo.png">
    <img src="assets/img/triangle-j-web-logo.png">
  </div>
</div>

<div class="block text-center">
  <div class="container-fluid">
    <h4 class="mb-4">
      Join over 900,000 designers already using Bootstrap. Get Bootstrap <strong>free</strong> forever!
    </h4>
    <form class="form-inline d-flex justify-content-center">
      <input class="form-control mb-3" placeholder="email address">
      <input class="form-control mb-3 mx-1" type="password" placeholder="Create a Password">
      <button class="btn btn-primary mb-3">Get started - free forever</button>
    </form>
    <small class="text-muted">
      By clicking "get started – free Forever!" I agree to Bootstraps
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>

{% include newfooter.html %}
  
  </body>
</html>

